.pagination {
    display: flex;
    justify-content: center;
    background: rgb(36, 40, 47);
    padding-top: 1.5%;
    padding-bottom: 2%;
}

.next {
    border: none;
    background: rgb(60, 62, 68);
    border-radius: 0.5rem;
    padding: 10px;
    box-shadow: rgba(251, 126, 2, 0.221) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
}
.next-label {
    color: white;
    font-weight: 700;
    text-decoration: none !important;
}
.next-label:hover {
    color: rgb(251, 143, 2);
    font-weight: 700;
    text-decoration: none !important;
}

.page-item{
    color: white;
    font-weight: 700;
    background: rgb(36, 40, 47);
}
.page-item:hover{
    color: rgb(251, 143, 2);
    font-weight: 700;
    background: rgb(36, 40, 47);
}

.page-item.active .page-link{
    color: rgb(36, 40, 47);
    font-weight: 700;
    background:rgb(251, 143, 2);
}

.break{
    padding: 10px;
    color: white;
    font-weight: 700;
}

.page-link{
    padding: 10px;
    border-radius: 0.5rem;  
    color: white;
    font-weight: 700;
    background: rgb(36, 40, 47);
    box-shadow: rgba(251, 126, 2, 0.221) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
    border: none;
}

.page-link:hover{
    color: rgb(251, 143, 2);
    font-weight: 700;
    background: rgb(36, 40, 47);
    box-shadow: rgba(251, 126, 2, 0.541) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
    border: none;
}

.page-link:active{
    color: rgb(251, 143, 2);
    font-weight: 700;
    background: rgb(36, 40, 47);
    box-shadow: rgba(251, 126, 2, 0.822) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
    border: none;
}
.page-link:visited{
    color: rgb(251, 143, 2);
    font-weight: 700;
    background: rgb(36, 40, 47);
    box-shadow: rgba(251, 126, 2, 0.822) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
    border: none;
}


.prev {
    border: none;
    background: rgb(60, 62, 68);
    border-radius: 0.5rem;
    padding: 10px;
    box-shadow: rgba(251, 126, 2, 0.221) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
}

.prev-label {
    color: white;
    font-weight: 700;
    text-decoration: none !important;
}

.prev-label:hover {
    color: rgb(251, 143, 2);
    font-weight: 700;
    text-decoration: none !important;
}